<ion-view hide-nav-bar="true">
  <ionpane class="login-custom">
    <ion-content>
      <h1>Estacionar</h1>
       <!--<div>
       <img src="img/icone.jpg" class="centralizado" />
      </div>-->

      <form > <br><br>
        <div class="list">
          <ionitem class="item-input"> 
              <i class="icon ion-ios-person-outline placeholder-icon"></i>
              <input type="text" ng-model="loginData.username" placeholder="Login">
          </ionitem>

          <ionitem class="item-input"> 
              <i class="icon ion-ios-locked-outline placeholder-icon"></i>
              <input type="password" ng-model="loginData.password" placeholder="Senha">
          </ionitem>

          <label class="item">
              <button class="button button-block button-positive" ng-click="vm.loginAplicacao(loginData);">Entrar</button>
          </label>
        </div>

        <div class="list">
          <label class="item"></label>
            <button class="button button-block button-positive" ng-click="authenticate('facebook')">Login com Facebook</button>
            <button class="google-sign-in button button-block" ng-click="authenticate('google')">Sign in with Google</button>
          </label>
      </div>

        <div class="footer text-small text-center">
          <label class="item">
          <a href="#/app/tab-conta"><button class="button button-block button-outline button-positive">Nova Conta</button></a>
          </label>
        </div>
      </form>
    </ion-content>
  </ionpane>
</ion-view>